USE [smart_factory]
GO
/****** Object:  Table [dbo].[result]    Script Date: 2024-07-10 오후 3:53:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[result]') AND type in (N'U'))
DROP TABLE [dbo].[result]
GO
/****** Object:  Table [dbo].[employee]    Script Date: 2024-07-10 오후 3:53:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[employee]') AND type in (N'U'))
DROP TABLE [dbo].[employee]
GO
USE [master]
GO
/****** Object:  Database [smart_factory]    Script Date: 2024-07-10 오후 3:53:20 ******/
DROP DATABASE [smart_factory]
GO
/****** Object:  Database [smart_factory]    Script Date: 2024-07-10 오후 3:53:20 ******/
CREATE DATABASE [smart_factory]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'smart_factory', FILENAME = N'C:\Datas\MSSQL16.MSSQLSERVER\MSSQL\DATA\smart_factory.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'smart_factory_log', FILENAME = N'C:\Datas\MSSQL16.MSSQLSERVER\MSSQL\DATA\smart_factory_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [smart_factory].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [smart_factory]
GO
/****** Object:  Table [dbo].[employee]    Script Date: 2024-07-10 오후 3:53:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee](
	[employeeId] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](20) NOT NULL,
	[gender] [varchar](10) NOT NULL,
	[email] [varchar](50) NULL,
	[phone] [int] NOT NULL,
	[address] [varchar](50) NULL,
	[position] [varchar](20) NOT NULL,
	[profile] [image] NULL,
	[LoginIdx] [int] NOT NULL,
	[LoginId] [varchar](30) NOT NULL,
	[LoginPw] [varchar](30) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[result]    Script Date: 2024-07-10 오후 3:53:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[result](
	[plastic] [int] NOT NULL,
	[paper] [int] NOT NULL,
	[can] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[result] ([plastic], [paper], [can]) VALUES (1, 2, 1)
GO
USE [master]
GO
